@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}


.grid-container {
  background-color: #2A2E41;
  height: 100%;
  display: grid;
  grid-template-columns: 0.05fr 1fr;
}

/* Sidebar styling */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #343A4F;
  border-right: 1px solid black;
  padding: 0 20px;
  position: sticky;
}

.top-icons {
  display: flex;
  flex-direction: column;
}

.bottom-icon {
  margin-top: auto;
  margin-bottom: 12px;
}

.icon {
  font-size: 27px;
  text-align: center;
  margin-top: 40px;
  color: black;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
}

/* Main page styling */
.main-container .header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
}

.travel-icon {
  color: yellow;
  font-size: 40px;
  margin: 20px;
}

.header .top {
  display: flex;
  align-items: center;
}

.heading {
  font-size: 30px;
  font-weight: bold;
  color: aliceblue;
  text-shadow: rgb(238, 191, 1) 1px 0 10px;
}

#search-bar {
  margin: 8px 20px auto auto;
  padding: 6px;
  border-radius: 25px;
  border: 2px solid black;
  width: 15em;
}

.search-box {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translateY(-75%);
  pointer-events: none;
}

#search-bar {
  padding-left: 17px;
}

/* Cards styling */
.col {
  height: 10em;
  width: 5em;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid black;
  color: black;
  padding: 30px;
  box-shadow:
    0 5px 5px -5px rgba(0, 0, 0, 0.5),
    0 -5px 5px -5px rgba(0, 0, 0, 0.5),
    5px 0 5px -5px rgba(0, 0, 0, 0.5),
    -5px 0 5px -5px rgba(0, 0, 0, 0.5);

}

.cards-section {
  margin-top: 30px;
}

.longCard {
  height: 10em;
  border: 2px solid black;
}

/* Example CSS */
.box {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.box-last {
  height: 200px;
}

/* Home page */
.home-heading {
  font-size: 50px;
  color: aquamarine;
  text-shadow: rgb(238, 191, 1) 1px 0 10px;
}

.home-icon {
  color: yellow;
  font-size: 50px;
  margin: 10px;
}

.home-header {
  height: 10vh;
  display: flex;
  margin: 7px;
}

#blinking-logo {
  color: rgb(223, 186, 41);
  text-shadow: rgb(247, 15, 15) 1px 0 10px;
  font-size: 30px;
}

.marquee-sec {
  width: 30vw;
  margin-left: auto;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
    text-shadow: rgb(248, 0, 0) 1px 0 10px;
  }

  100% {
    opacity: 1;
  }
}

#blinking-logo {
  animation: blink 1.3s infinite;
}

.image-container {
  position: relative;
  /* display: inline-block; */
  display: flex;
}

.image {
  display: block;
  width: 50%;
  /* height: 50vh; */
  margin-left: auto;
  margin-right: 20px;
}

.text-overlay {
  padding: 50px;
}

.text {
  color: white;
  text-align: center;
  /* font-size: 40px; */
  margin: 0;
}

#highlights {
  color: aqua;
}

.welcome {
  color: whitesmoke;
  text-shadow: rgb(212, 39, 39) 3px 0 10px;
}

#welcome-line {
  color: aquamarine;
  text-shadow: rgb(238, 191, 1) 0 0 0;
}

.welcome-para {
  color: bisque;
}

/* Tourist places styling */
.tourism-heading {
  margin-bottom: 15px;
  text-align: center;
  color: aliceblue;
  text-shadow: rgb(238, 191, 1) 1px 0 10px;
}

.place-image {
  height: 150px;
}

.btn-primary {
  transition: transform 0.3s ease;
}

.btn-primary:hover .arrow {
  transform: translateX(5px);
}

.arrow {
  transition: transform 0.3s ease;
}

.card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  transition: 0.5s ease;
}

.card:hover .card-img-top {
  transform: scale(1.1);
}

.card-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.5s ease;
  color: rgb(233, 201, 201);
}

.card:hover .card-layer {
  opacity: 1;
}

.arrow {
  margin-left: 5px;
  transform: translateX(0);
  transition: transform 0.4s ease;
}

.btn:hover .arrow {
  transform: translateX(3px);
}

.more-link {
  text-decoration: none;
  color: whitesmoke;
  font-size: 17px;
}

.more-link:hover {
  color: aquamarine;
}

/* Settings styling */
.settings-container {
  color: black;
}

.settings-heading {
  text-align: center;
}

.settings-content {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.settings-left {
  margin: 10px;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 20px 30px 20px;
  font-size: large;
}

.profile-img {
  border-radius: 50%;
  border: 2px solid black;
}

.personal-details {
  display: flex;
  margin: auto;
}

.details {
  margin: 20px;
}

.settings-right {
  border: 2px solid black;
  box-shadow:
    0 5px 5px -5px rgba(0, 0, 0, 0.5),
    0 -5px 5px -5px rgba(0, 0, 0, 0.5),
    5px 0 5px -5px rgba(0, 0, 0, 0.5),
    -5px 0 5px -5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 100%;
  padding: 10px;
  margin: 10px;
  height: 82vh;
}


.link {
  text-decoration: none;
  width: 100px;
  color: wheat;
  text-shadow: rgb(247, 15, 15) 1px 0 10px;
  border: 1px solid black;
  padding: 10px;
  box-shadow:
    0 5px 5px -5px rgba(0, 0, 0, 1),
    0 -5px 5px -5px rgba(0, 0, 0, 1),
    5px 0 5px -5px rgba(0, 0, 0, 1),
    -5px 0 5px -5px rgba(0, 0, 0, 1);
  border-radius: 20px;
  transition: transform 0.3s ease;
  text-align: center;
}

.link:hover {
  transform: scale(1.1);
  text-shadow: rgb(238, 191, 1) 1px 0 10px;
}

.form-label {
  font-size: 25px;
}

.textfieldArea {
  width: 30%;
}

.textfieldArea .MuiOutlinedInput-root {
  border-radius: 50px;
  color: whitesmoke;
  border: 1px solid black;
}

.settings-container {
  display: flex;
  flex-direction: column;
}

.settings-content {
  display: flex;
}

.settings-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.custom-textfields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.textfields-left,
.textfields-right {
  width: 50%;
  margin: 10px;
}

.textfieldArea {
  width: 100%;
  margin-bottom: 20px;
}

.textfieldArea .MuiOutlinedInput-root {
  border-radius: 50px;
  color: whitesmoke;
  border: 1px solid black;
}

.update-detail {
  margin: 10px auto;
  color: #2a9d8f;
}

.update-btn {
  margin: auto;
}

.privacy-policy {
  display: flex;
}

.privacy-column {
  width: 50%;
}

/* Change Password Component Styles */
.change-password-form {
  width: 50%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 6px;
}

input[type='password'] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.change-password-btn {
  background-color: #2a9d8f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.change-password-btn:hover {
  background-color: #21867a;
}

.content {
  display: flex;
  justify-content: space-around;
}

.scrollable-content {
  height: 80vh;
  overflow-y: auto;
}

.help-section {
  width: 40%;
}

.social-icon {
  font-size: 2rem;
  margin: 0 10px;
  color: pink;
  text-shadow: red 1px 0 10px;
  transition: transform 0.3s ease-in-out;
}

.social-icon:hover {
  transform: translateY(-5px);
}

.social-icon svg {
  transition: fill 0.3s ease-in-out;
}

.questions{
  font-weight: bold;
}

/* About page */
.user-details{
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  padding-left: 30px;
}
.details{
  padding: auto 40px;
  width: 30%;
}
.details > label{
  font-weight: bold;
  font-size: 20px;
}
